@charset "UTF-8";
* {
	box-sizing: border-box;	
}
.header{
	background-color: #FFF;	
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-align: center;	
	vertical-align: middle;
}
.treeview{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 12px;
	font-weight: normal;		
}

.menu{
	background-color: #FFF;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.main{
	background-color: #FFF;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.footer{
	background-color: #FFF;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.header h1{
	font-size: 1.5em;
	margin: 0.1em;	
}


body {
	padding:1em;
	display: grid;
	grid-template-areas: 
    "header header menu"
    "treeview main main"
    "footer footer footer";
	grid-template-rows: 0.2fr 2.6fr 0.2fr;  
  	grid-template-columns: 0.5fr 2fr 0.5fr;
  	grid-row-gap: 10px;
  	grid-column-gap: 10px;
  	height: 100vh;
  	margin: 0;
}
.treeview div{
	width: 100%;
}
div.treecontainer{
	border: 0px;
}
  
#header {
  grid-area: header;
  }
#footer {
  grid-area: footer;
  }
#content { 
  grid-area: main; 
  padding: 0.5em;     
  }
#treeview { 
  grid-area: treeview;
  padding: 0.5em;   
  }
  
#menu { 
  grid-area: menu; 
  } 
 
@media all and (max-width: 575px) {
  body { 
    grid-template-areas: 
      "header"
      "main"
      "menu"
      "treeview"
      "footer";
    grid-template-rows: 80px 1fr 70px 1fr 70px;  
    grid-template-columns: 1fr;
 }
}

.main__form__block{
	padding: 0;
}


.infoTable{
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}
/* .infoTable td, .infoTable th { */
/*   padding: 2px 2px; */
/* } */
.infoTable tbody td {
  font-size: 12px;   
}
.infoTable tr:nth-child(even) {
  background: #D6D6D6;
}
.infoTable thead {
  background: #B0B0B0;
  background: -moz-linear-gradient(top, #c4c4c4 0%, #b8b8b8 66%, #B0B0B0 100%);
  background: -webkit-linear-gradient(top, #c4c4c4 0%, #b8b8b8 66%, #B0B0B0 100%);
  background: linear-gradient(to bottom, #c4c4c4 0%, #b8b8b8 66%, #B0B0B0 100%);
}
.infoTable thead th {
  font-size: 13px;
  font-weight: bold;
  border-left: 1px solid #FFFFFF;
}
.infoTable thead th:first-child {
  border-left: none;
}

.infoTable tfoot td {
  font-size: 14px;
}
.infoTable tfoot .links {
  text-align: right;
}
.infoTable tfoot .links a{
  display: inline-block;
  background: #1C6EA4;
  color: #FFFFFF;
  padding: 2px 8px;
  border-radius: 5px;
}

.tabView div.ui-tabs-panels{
	background: #D6D6D6;
}
.ui-state-active{
	background: #E0E0E0;
}
.tabView_tittle{
	background: #D6D6D6;
	color: #B0B0B0;
}
