<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://xmlns.jcp.org/jsf/core">

<ui:composition template="/template/mylayout.xhtml">

	<ui:define name="content">
			<h:form styleClass="main__form">
				<p:dataTable id="infoDatabase" var="schema" value="#{Controller.server.listSchema}"
				tableStyleClass="infoTable" rowStyleClass="infoTableLigne" rowIndexVar="id">
					<f:facet name="header">List of database</f:facet>
					<p:column headerText="#" style="width:10%">
						<h:outputText value="#{id}"/>
					</p:column>
					<p:column headerText="Database">
						<p:commandLink  action="#{Controller.oneSchema(schema.name)}" ajax="false">
								<h:outputText value="#{schema.name}"/>
							</p:commandLink>
					</p:column>
					<p:column headerText="nd de Tables" style="width:30%">
						<h:outputText value="#{schema.tables.size()}"/>
					</p:column>
				</p:dataTable>				
			</h:form>	
	</ui:define>
		
</ui:composition>

</html>
