<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://xmlns.jcp.org/jsf/core">

<ui:composition template="/template/mylayout.xhtml">

	<ui:define name="content">
		<p:panel id="panel" header="Infos">
			<p:panelGrid columns="2">
				<h:outputLabel for="schemaName" value="Nom Schema : "/>
				<h:outputText id="schemaName" value="#{Controller.resultat.columns[0].schemaName}"/>
				
				<h:outputLabel for="tableName" value="Nom Table : "/>
				<h:outputText id="tableName" value="#{Controller.resultat.columns[0].tableName}"/>
				
				<h:outputLabel for="tableLabel" value="Label Table : "/>
				<h:outputText id="tableLabel" value="#{Controller.resultat.columns[0].tableLabel}"/>
			</p:panelGrid>
			
		</p:panel>
		<h:form id="form">
		<p:growl id="msgs" showDetail="true"/>
		<p:tabView dynamic="true" cache="true" effect="fold" styleClass="tabView">
			<p:tab title="Structure" titleStyleClass="tabView_tittle">
				
					
					<p:dataTable id="infoTable" var="column" value="#{Controller.resultat.columns}" editable="true" 
						tableStyleClass="infoTable" rowStyleClass="infoTableLigne" rowIndexVar="id">
						<f:facet name="header">Infos table</f:facet>
						
						<p:ajax event="rowEdit" listener="#{dtEditView.onRowEdit}" update=":form:msgs" />
						<p:ajax event="rowEditCancel" listener="#{dtEditView.onRowCancel}" update=":form:msgs" />
						
						<p:column headerText="#" style="width:24px">
						<h:outputText value="#{id}"/>
						</p:column>
			
						<p:column headerText="#{lbl['column.columnName']}">
							<p:cellEditor>
								<f:facet name="output"><h:outputText value="#{column.columnName}"/></f:facet>
								<f:facet name="input"><h:inputText value="#{column.columnName}"/></f:facet>
							</p:cellEditor>				
						</p:column>
									
						<p:column headerText="#{lbl['column.dataType']}">
							<h:outputText value="#{column.type}"/>
						</p:column>		
							
						
						<p:column headerText="Interclassement">
							<h:outputText value="#{column.collationName}"/>
						</p:column>
						
						<p:column headerText="Null">
							<h:outputText rendered="#{column.nullable eq true}" value="oui"/>				
						</p:column>
						<p:column headerText="isAutoIncrement">
							<h:outputText rendered="#{column.autoIncrement eq true}" value="x"/>				
						</p:column>
			
						<p:column style="width:35px" headerText="Action">
            				<p:rowEditor />
        				</p:column>
					</p:dataTable>	
				
				
			</p:tab>
			<p:tab title="Parcourir" titleStyleClass="tabView_tittle">
				<p:dataTable id="tableRow" value="#{Controller.rows}" var="row"	rowIndexVar="rowIndex" tableStyleClass="infoTable" 
					rowStyleClass="infoTableLigne" resizableColumns="true"  liveResize="true"
					draggableColumns="true">
					
					
	<f:facet name="header">
        List of data
 
		<p:commandButton id="toggler" type="button" value="Columns" style="float:right" icon="pi pi-align-justify" />
        <p:columnToggler datasource="tableRow" trigger="toggler" />
    </f:facet>
					
					<p:columns headerText="#{columnName}" value="#{Controller.resultat.columnNames}" 
					 var="columnName" columnIndexVar="index" toggleable="true">
					
						<h:outputText value="#{row.getString(index)}"/>
						
					</p:columns>
				
				</p:dataTable>
			</p:tab>
		</p:tabView>
		</h:form>	
		</ui:define>
		
</ui:composition>
</html>
