<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://xmlns.jcp.org/jsf/core">

<ui:composition template="/template/mylayoutlogin.xhtml">
	
	<ui:define name="content">
		
		<h:form id="connexionForm">
			<p:fieldset legend="Server Connection">			
				<p:panelGrid columns="2">						
					<h:outputLabel value="Address Server"/>
					<h:inputText id="server" value="#{Controller.server.adressServer}"/>
					<h:outputLabel value="#{lbl['server.username']}"/>
					<h:inputText id="username" value="#{Controller.user.userName}"/>
					<h:outputLabel value="#{lbl['server.password']}"/>				
					<h:inputSecret id="password" value="#{Controller.user.passWord}"/>
				</p:panelGrid>				
				<h:commandButton icon="pi pi-sign-in" id="signbtn" value="#{lbl['server.connexion_btn']}" action="#{Controller.toLogIn}"/>
			</p:fieldset>			
		</h:form>
	
		</ui:define>
		
</ui:composition>

</html>
