<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://xmlns.jcp.org/jsf/core">

<ui:composition template="/template/mylayout.xhtml">

	<ui:define name="content">
		<p:panel id="panel" header="Infos">
			<p:panelGrid columns="2">
				<h:outputLabel for="schemaName" value="Nom Schema : "/>
				<h:outputText id="schemaName" value="#{Controller.currentSchema.name}"/>				
			</p:panelGrid>
		</p:panel>
		<p:panel header="Contenu">
			<h:form id="form">
				<p:dataTable var="table" value="#{Controller.currentSchema.tables}" 
				rowIndexVar="id" tableStyleClass="infoTable" rowStyleClass="infoTableLigne">
					
					<p:column headerText="#" style="width:5%">
						<h:outputText value="#{id}"/>
					</p:column>
					<p:column>
						<p:commandLink action="#{Controller.infoTable(table.name)}" ajax="false">
							<h:outputText value="#{table.name}"/>
						</p:commandLink>
					</p:column>
					<p:column headerText="Lignes" style="width:10%">
						<h:outputText value="#{table.count()}"/>
					</p:column>
					<p:column headerText="Type" style="width:10%" >
						<h:outputText value="#{table.isView()==true?'view' : 'InnoDB'}"/>
					</p:column>
				</p:dataTable>
			</h:form>
		</p:panel>
	</ui:define>
		
</ui:composition>
</html>
