<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://xmlns.jcp.org/jsf/core">

<ui:composition>
	 	
	 	<h1 class="header__title"><h:outputText value="#{lbl['header.title']}"/></h1>
		<h2 class="header__subtitle"><h:outputText value="#{lbl['header.title2']}"/></h2>
	 		
</ui:composition>

</html>