<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://xmlns.jcp.org/jsf/core">

<ui:composition>
	
	<h:form id="languageForm" class="header__form__language">
		<p:fieldset legend="#{lbl['welcome.chooseLanguage']}" class="fieldset__language" >
	 	 	<p:panelGrid columns="2">
				<h:commandLink action="#{ChangeLocale.setFrenchLocale}" id="language__link__french" class="flag-icon flag-icon-fr" />
				<h:commandLink action="#{ChangeLocale.setEnglishLocale}" id="language__link__english" class="flag-icon flag-icon-gb"/>
			</p:panelGrid>	
	 	</p:fieldset>			
	</h:form>
	
</ui:composition>
</html>
