<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://xmlns.jcp.org/jsf/core">
<f:view locale="#{ChangeLocale.locale}">
	<h:head>
		<title><h:outputText value="#{lbl['welcome.title']}"/></title>		
	</h:head>
	
	<body>
 	<h:outputStylesheet library="css" name="reset.css" /> 
 	<h:outputStylesheet library="css" name="theme.css" /> 
 	<h:outputStylesheet library="css" name="flag-icon.css" />
	
<!-- 	<ui:debug hotkey="x" rendered="#{initParam['javax.faces.FACELETS_DEVELOPMENT']}"/> -->
	
			<div id="header" class="header">
				<ui:include src="/template/header.xhtml" />
			</div>
			<div id="menu" class="menu">	
				<ui:include src="/template/menu.xhtml" />
			</div>
			
			<div id="treeview" class="treeview">							
			</div>
			
			
			<div id="content" class="main">			
				<ui:insert name="content"/>				
			</div>
	
			<div id="footer" class="footer">
				<ui:insert name="footer"/>			
			</div>
		
	
	</body>
</f:view>
</html>
