<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://xmlns.jcp.org/jsf/core">

<ui:composition>
	<h:form id="formTree" styleClass="treeview" >
		 <p:growl id="messages" showDetail="true" />
			<p:panel header="Map of server">
				<p:tree value="#{Controller.server.root}" var="node" styleClass="treecontainer">

		     		<p:treeNode styleClass="treenode" type="schema" icon="pi pi-clone">
		     			<p:commandLink action="#{Controller.oneSchema(node)}" ajax="false">
		     				<h:outputText value="#{node}" />		           		
		     			</p:commandLink>			           		
		        	</p:treeNode>
		        	<p:treeNode styleClass="treenode" type="table" icon="pi pi-table">
			        	<p:commandLink action="#{Controller.infoTable(node)}" ajax="false">
			     				<h:outputText value="#{node}" />		           		
			     		</p:commandLink>		
		        	</p:treeNode>
		        	<p:treeNode styleClass="treenode" type="view" icon="pi pi-th-large">
		     			<p:commandLink action="#{Controller.infoTable(node)}" ajax="false">
		     				<h:outputText value="#{node}" />		           		
		     			</p:commandLink>			           		
		        	</p:treeNode>
			        	<p:treeNode styleClass="treenode" type="tables" icon="pi pi-table">
			     				<h:outputText value="#{node}" />		           		
			        	</p:treeNode>
		        	<p:treeNode styleClass="treenode" type="views" icon="pi pi-th-large">
		     				<h:outputText value="#{node}" />		           		
		        	</p:treeNode>
	   			 </p:tree>
			</p:panel>
		
		</h:form>	
</ui:composition>
</html>